<table class="table">
  <thead>
    <tr>
      <th>Team Member</th>
      <th data-ng-repeat="week in funController.weeks">{{week}}</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="member in funController.members()">
      <td>{{member}}</td>
      <td data-ng-repeat="week in funController.weeks">
        <input data-ng-model="funController.funFor[member][week]" type="number" data-ng-change="funController.funFor[member].$save()">
      </td>
    </tr>
  </tbody>
</table>
<input type="text" data-ng-model="funController.developerName">
<button ng-click="funController.addMember(funController.developerName)">Add New Developer</button>
